* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #081b29;
    color: white;
}

.header {
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;

}

.logo {
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    animation-name: size;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes size{
    from{
        transform: scale(0.5);
    }
    to{
        transform: scale(2);
    }
}

.navbar a {
    margin-left: 35px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    transition: 1s;

}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.main{
    display: flex;
    justify-content: space-evenly;

}
.main-content {
    max-width: 600px;
}

.main-content h1 {
    font-size: 56px;
    letter-spacing: 2px;
    font-weight: 700;
}

.main-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
    letter-spacing: 2px;
}

.main-content p {
    font-size: 16px;
    margin: 20px 0 20px;
}

.main-content .btn {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 345px;
}

.btn a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition-duration: 1s;
}

.btn a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn a:nth-child(2):hover {
    color: #081b29;
}

.btn a:nth-child(1):hover {
    color: #00abf0;
}

.btn a:nth-child(2)::before {
    background: #00abf0;
}

.btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #081b29;
    z-index: -1;
    transition: 0.5s;
}

.btn a:hover::before {
    width: 100%;
}

.social {
    display: flex;
    justify-content: space-between;

    width: 200px;
    position: absolute;
    bottom: 40px;
    border-radius: 8px;

}

.social a {
    display: inline-flex;
    height: 40px;
    width: 40px;
    border: 2px solid #00abf0;
    background: #00abf0;
    border-radius: 50%;
    transition-duration: 2s;
}

.social a:hover {
    transform:rotate(360deg);
}

.img{
    border: 2px solid #00abf0;
    border-radius: 50%;
    overflow: hidden;

} 